.about{
    width: 100%;
    min-height: 50vh;
    display:grid;
    place-items: center;
    margin-top : 1rem;
    align-content: start;
    align-items: start;
    padding : 1rem;
    
}

.about-card{
    width : 80%;
    display : grid;
    grid-template-columns: 25% 50% 25%;
    gap : 1rem;
    padding-inline: 2rem;
    border-radius : 0.5rem;
    align-content: start;
    box-shadow: 0 1rem 10rem 0.01rem rgba(0,0,0, 0.1);
}

.about-card-ayuda{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.about-card-ayuda h4, .about-card-ventajas h4{
    color : var(--color-primary);
    font-weight: bold;
}

.about-card-ayuda p{
    font-size: 0.9rem;
}

.about-card-img{
    position : relative;
    margin-inline: 1.5rem;
    aspect-ratio: 5/4;
}

.about-card-img img{
    width: 12vw;
    height: 28vh;
    object-fit: cover;
    border-radius : 0.5rem;
}

.img1{
    position : absolute;
    top : 0;
    left : 0;
    transition : all 500ms ease-in-out;
    z-index : 2;
}

.img1:hover{
    transform: translateX(-5rem) scale(1.2) rotate(-10deg);
    z-index: 20;
}

.img2{
    position : absolute;
    top: 0;
    right: 0;
    transition : all 500ms ease-in-out;
    z-index : 2;
}

.img2:hover{
    transform:translateX(5rem) scale(1.2) rotate(10deg);
    z-index: 20;
}

.img3{
    position : absolute;
    top : 4rem;
    left : -1.5rem;
    transition : all 500ms ease-in-out;
    z-index : 3;
}

.img3:hover{
    transform:translateX(5rem) scale(1.2) rotate(10deg);
    z-index: 20;
}

.img4{
    position : absolute;
    top: 4rem;
    right: -1.5rem;
    transition : all 300ms ease-in-out;
    z-index : 3;
}

.img4:hover{
    transform: translateX(-5rem) scale(1.2) rotate(-15deg);
    z-index: 30;
}

.img5{
    position : absolute;
    top : 8rem;
    left : 0.5rem;
    transition : all 300ms ease-in-out;
    z-index : 4;
}

.img5:hover{
    transform : translateX(-5rem) scale(1.2) rotate(-15deg);
}

.img6{    
    position : absolute;
    top: 8rem;
    right: 0.5rem;
    transition : all 300ms ease-in-out;
    z-index : 4;
}

.img6:hover{
    transform: translateX(5rem) scale(1.2) rotate(15deg);
}

.img7{
    position : absolute;
    top : 12rem;
    left : 50%;
    transform: translateX(-50%);
    transition : all 300ms ease-in-out;
    z-index : 5;
}

.img7:hover{
    transform: translateY(-5rem ) scale(1.3);
    z-index: 30;
}

.img8{
    position : absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    transition : all 500ms ease-in-out;
    z-index: 1;
}

.img8:hover{
    transform: translateY(-2rem) scale(1.4);
    z-index: 30;
}


.about-card-ventajas{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 0.5rem
}

.about-card-ventajas ul{
    display : flex;
    flex-direction: column;
    list-style: circle;
    gap: 1rem;
}

.about-card-ventajas li{
    font-size: smaller;
    font-weight: 800;
}