.about{
    width: 100%;
    height: 100vw;
    display:grid;
    place-items: center;
    margin-top : 1rem;
    align-content: start;
    align-items: start;
    
}

.about-card{
    width : 90%;
    height: 100%;
    display : grid;
    grid-template-columns: 20% 1fr 20%;
    gap : 1rem;
    padding : 1rem;
    background-color: rgba(230,230,230, 0.3);
    border-radius : 0.5rem;
    align-content: start;
}

.about-card-ayuda{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-card-ayuda h4, .about-card-ventajas h4{
    color : var(--color-primary);
    font-weight: bold;
}

.about-card-ayuda p{
    font-size: 0.9rem;
}

.about-card-img{
    position : relative;
    margin-inline: 1.5rem;
    height: 50vw;
}

.about-card-img img{
    width: 18vw;
    height: 20vw;
    object-fit: cover;
    border-radius : 0.5rem;
}

.img1{
    position : absolute;
    top : 0;
    left : 0;
}

.img2{
    position : absolute;
    top: 2rem;
    right: 0;
}

.img3{
    position : absolute;
    top : 7rem;
    left : 2rem;
}

.img4{
    position : absolute;
    top: 7rem;
    right: 2rem;
}

.img5{
    position : absolute;
    top : 14rem;
    left : 0;
}

.img6{    
    position : absolute;
    top: 14rem;
    right: -0.5rem;
}

.img7{
    position : absolute;
    top : 21rem;
    left : 2rem;
}

.img8{
    position : absolute;
    top: 21rem;
    right: 3rem;
}
.about-card-ventajas{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-card-ventajas ul{
    display : flex;
    flex-direction: column;
    list-style: circle;
    gap: 1rem;
}